body {

    margin:0px;
    font-family: helvetica, sans;

}

.navbar {

    background-color: #d9534f;
    border-width:0px;
    border-radius:0px;
    padding:5px;
    position:relative;

}

a.logo_nav  {

    font-size:36px;
    color: #fbfbfb;
    text-decoration:none;

}

#header_options {

    display:inline-block;
    float:right;
    color: #fbfbfb;
    position:relative;

}

#header_options select {

    font-size:20px;

}

#select_bill {

    position:absolute;
    top:42px;
    right:90px;
    z-index:300;
    display:none;
    width:220px;
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fbfbfb;

}

a.get_bill {

    padding:15px;
    border: solid #cbcbcb;
    border-width:  0px 0px 2px 0px;
    width:100%;
    display:block;
    color: #000;

}

a.get_bill:hover {

    background-color: #000;
    color: #fbfbfb;

}

.content {

    position:relative;

}

.column-4x {

    display:block;
    width:37.8%;
    height:520px;
    float:left;
    padding:0px;
    overflow:hidden;
    border: solid #cbcbcb;
    border-width:0px 0px 2px 0px;

}

.column-8x {

    display:block;
    width:61%;
    height:520px;
    padding:0px;
    border: solid #cbcbcb;
    border-width:0px 0px 2px 2px;
    overflow:hidden;
    background: #efeeee;
    position:relative;

}
a {

    text-decoration:none;
    color: #064d8c;

}

a:hover {

    color: #004681;

}

a.button_product {

    display:inline-block;
    width:150px;
    height:200px;
    margin:10px 15px;
    background: #fbfbfb;
    border: solid #cbcbcb 2px;
    overflow:hidden;
    color: #fbfbfb;
    border-radius:10px;
    position:relative;
    

}

.button_product img  {

    display:inline-block;
    position:absolute;
    width:150px;
    height:150px;

}

.error {

    color: #fbfbfb;
    background: #ff0000;
    width:100%;
    padding:10px;
    
    
}

.name_product {

    position:absolute;
    bottom:0px;
    display:block;
    background:#383b46;
    padding:5px;
    width:100%;

}

.price_product {

    position:absolute;
    top:0px;
    right:0px;
    display:block;
    background:#383b46;
    padding:5px;
    z-index:100;
    border-radius:0px 0px 0px 15px;

}

#products_list {

    background: #fbfbfb;
    border: solid #cbcbcb 0px;
    border-bottom-width:2px;
    height:200px;
    overflow-y: scroll;
    overflow-x: hidden;

}

#products {

    overflow-y: scroll;
    overflow-x: hidden;
    height:480px;

}

#final_price {

    font-size:28px;
    padding:10px 5px;
    background:  #cbcbcb;

}

#taxes_price {

    font-size:14x;
    padding:5px 2px;
    background:  #dcdcdc;

}

#options_price {

    font-size:12px;
    padding:5px 2px;
    background:  #ededed;
    text-align:right;

}

#check_all_products {

    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;


}

.product_row {

    width:100%;
    padding:5px 0px 5px 10px;
    border: solid #cbcbcb 0px;
    border-bottom-width:2px;
    cursor: pointer;

}

/* Calculator */

.number_calc, .options_calc {

    display:inline-block;
    width:25%;
    line-height:120%;
    text-align:center;
    font-size:30px;
    background: #cbcbcb;
    border: solid #989898 1px;
    margin:4px 2px;
    border-radius:5px;

}

.options_calc {

    width:100%;
    clear:both;

}

input.options_calc {

    background:  #f2f2f2;

}

.last_number {

    clear:both;

}

.calculator
{

    display:block;
    width:100%;
    

}

.column_calculator {

    display:block;
    width:45%;
    border: solid #cbcbcb;
    border-width: 0px 1px 0px 0px;
    float:left;

}

.column_buttons_calc {

    display:inline-block;
    width:50%;
    padding-left:1px;
    margin-left:auto;
    margin-right:auto;
    
}

.active_row {

    background: #898989;

}

#categories_menu {

    color: #fbfbfb;
    background-color: #454545;
    padding:10px 15px;

}

#categories_menu_button {

    padding: 10px 15px;

}

#category_id_field_form {

    font-size:24px;
    position:absolute;
    z-index:300;
    left:15px;
    top:52px;

}

a#show_pending {

    display:inline-block;
    color: #454545;
    background-color: #cbcbcb;
    border-radius:5px;
    padding:10px;

}

a#close_box_button {

    display:inline-block;
    color: #454545;
    background-color: #cbcbcb;
    border-radius:5px;
    padding:10px;

}

a#total_money_billed {

    display:inline-block;
    padding:10px;
    background-color: #fbfbfb;
    border-radius:5px;
    padding:10px;

}

a#logout {

    display:inline-block;
    padding:10px;
    background-color: #fbfbfb;
    border-radius:5px;
    padding:10px;

}

.table_list {

	width:100%;
    border:solid #cccccc;
	border-width:1px;

}

.title_list td {

    margin:0px;
	padding:4px;
	/*background-image:url('../images/background_title.png');
	background-position:top;
	background-repeat: repeat-x;*/
    background: #ccc;
	font-size:14px;
	font-weight:bold;

}

.row_list td {

	/*border:solid #cccccc;
	border-width:1px;*/
	padding:4px;

}


/* Simple spinner */

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position:absolute;
  top:20px;
  left:50%;
  z-index:3000;
  -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

